
    <html>
<head>
  <title>Log Out</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
     .navbar {
    overflow: hidden;
    background-color: #F4775A;
    font-family: Roboto;
    font-weight: 500;
    height: 48px;
    font-weight: lighter;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }
  h3 {
  font-size: 22px;
  text-align: center;
}

  </style>
</head>
    
<body>
  <div class="navbar">
    </div>
    <br/><br/>
  <h3>You Have Logged Out</h3>


</body>
</html>
