<html>
<head>
	<title>Mood Log</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/moodLog.css">
  <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/jquery-1.11.0.js"></script>

</head>
<body style="margin: 0;">
<!-- NAVIGATION BAR -->


  <script>
    /*
  $(document).ready(function(e){
        var issueVal = localStorage.getItem('selectedIssue');
        $.post('/loadMood', issueVal, function(data, status){
        if(data.success){
        console.log("success");
      }
    });
      });*/


    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart(){

      var data = google.visualization.arrayToDataTable([
          ['Moods', 'Entry Day'],
          ['Angry', 5],
          ['Happy', 11],
          ['Unhappy', 8],
          ['Meh', 3],
          ['Sad', 5]
        ]);
      var options = {
        legend: {position: 'right', alignment: 'center', textStyle: {fontName: 'Roboto',fontSize:12}},
        chartArea: {left: 27, top: 0, bottom: 10, width: '100%', height: '100%'},
        colors:['#ff2244', '#ffcc33', '#00aaff', '#4a90e2', '#0055ff'],
        pieHole: 0.2,
        is3D: true
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
    }

    function goBack(){
      window.history.back();
    }

  </script>



<div class="navbar">
  <div class="navbar-new">
      <i onclick="goBack()" class="fa fa-chevron-left" style="color:white; left: 0; padding-left: 5px; padding-right: 10px; margin-top: 12px"></i>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn">Mood Log</button>
  </div>
    </div>
  <div class="navbar-settings">
    <div class="dropdown">
      <button class="dropbtn">&#9776;</button>
      <div class="dropdown-content" style="right:0">
        <a href="/settings">Settings</a>
        <a href="/logOut">Log Out</a>
      </div>
    </div>
  </div>
</div>

	<div class="container">
	<h1>Mood Log</h1>

  <div id="donutchart" style="width: 300px; height: 170px"></div>

  {{#moods}}
	<table>
		<tr>
			<th id="col-1"><figure class="pictures">
				<img src="../images/{{emoji}}" width="60" height="60">
				<figcaption>{{month}}, {{day}}, 2018</figcaption>
			</figure></th>
			<th id="col-2">{{comment}}</th>
		</tr>
	</table>
		<hr class="between-elements">
    {{/moods}}
</div>
</body>
</html>
