<html>
<head>
  <title>Change Profile Pic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"">
<style>


.main-content{
  text-align: center;
}
.back{
  float:left;
}
 .navbar {
    overflow: hidden;
    background-color: #F4775A;
    font-family: Roboto;
    font-weight: 500;
    height: 48px;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }
    .navbar a:hover {
    background-color:#F9BBAC;
  }
  .navbar-new:hover {
    background-color:#F9BBAC;
    height: 48px;
  }


  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-new {
    float: left;
  }

  .navbar-left-most{
    width: 100%;
  }
  .navbar-settings {
    float: right;
  }

h3 {
  font-size: 22px;
  text-align: center;
}


img.currentPic {
  width: 200px;
  height: 200px;
}

#input {
  text-align: center;
  margin: auto;
}


</style>
  <script>
    function goBack(){
      window.history.back();
    }
    </script>
</head>


<body>
<div class="navbar">
<div class="navbar-new">
      <i onclick="goBack()" class="fa fa-chevron-left" style="color:white; left: 0; padding-left: 5px; padding-right: 10px; margin-top: 12px"></i>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn" style="padding-left: 15px">
       <!-- <i class="fa fa-chevron-down"></i> -->
      </button>
    </div>
  <div class="navbar-settings">
    <a href="/homePage"><i class="glyphicon glyphicon-home" style="padding-bottom: 5px"></i></a>
  </div>

</div>
</div>


<!--MAIN CONTENT-->
  <br />
  <div class="main-content">
  <h3>Change Your Profile Picture</h3>
  <h4>Your current profile picture:</h4>
  <img src="../images/tempProfile.jpg" class="currentPic" alt="currentProfilePic"/>
  <br />
  <form action="#" method="post">
    <h4> Upload your new profile picture:</h4>

    <input type="file" id="input" name="profilePic"/>
    <br />
    <input type="submit" value="Upload"/>
  </form>
</div>
</body>
</html>