<!DOCTYPE html>
<html lang='eg'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='UTF-8'/>
  <title>Log In</title>
  <link rel='stylesheet' href='../css/welcome.css'/>
</head>
<body>
  <img id="site-logo" src='images/logo.png' width=77 alt='Logo for Common Ground'/>
  <div id="login-text">
    <h1>Sign Up</h1>
  </div>
  <div id="security-key">
    <form>
      <input id="username" type="text" id="username" name="firstname" placeholder="Enter Username">
      <input id="password" type="text" id="password" name="lastname" placeholder="Enter Password">
      <input id="full-name" type="text" id="password" name="lastname" placeholder="Enter Full Name">
    </form>
  </div>
  <div class="navigation-table-container">
    <table class="navigation-table">
      <tr>
        <td class="back-arrow-section"><a id="backbutton" href="/"><img src='images/backbutton.png' alt="Back Button" width=16.85 height=16.85></a></td>
        <td class="back-text-section"><a id="backtext" href="/" class="button"><div class="back-login">Back</div></a></td>
        <td class="finish-section"><a href="/daily-mood" class="button"><div class="log-in2">Finish</div></a></td>
      </tr>
    </table>
  </div>
</body>
</html>
