<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"">
  <title>Update Info</title>

<style>
  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #F4775A;
    font-family: Roboto;
    font-weight: 500;
    height: 48px;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }
    .navbar a:hover {
    background-color:#F9BBAC;
  }
  .navbar-new:hover {
    background-color:#F9BBAC;
    height: 48px;
  }


  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-new {
    float: left;
  }

  .navbar-left-most{
    width: 100%;
  }
  .navbar-settings {
    float: right;
  }

h3 {
  font-size: 22px;
  text-align: center;
}

fieldset{
  width: 300px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  margin: auto;
}

legend{
  font-size: 20px;
  border: 2px solid #dcdcdc;
  padding-left: 5px;
}

label{
  padding-bottom: 10px;
}

.submit{
  text-align: right;
}

</style>
  <script>
    function goBack(){
      window.history.back();
    }
    </script>
</head>

<body>
<!-- NAVIGATION BAR-->
<div class="navbar">
<div class="navbar-new">
      <i onclick="goBack()" class="fa fa-chevron-left" style="color:white; left: 0; padding-left: 5px; padding-right: 10px; margin-top: 12px"></i>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn" style="padding-left: 15px">
       <!-- <i class="fa fa-chevron-down"></i> -->
      </button>
    </div>
  <div class="navbar-settings">
    <a href="/homePage"><i class="glyphicon glyphicon-home" style="padding-bottom: 5px"></i></a>
  </div>

</div>
</div>

<!-- MAIN CONTENT-->
  <h3>Update Your Information</h3><br />
  <form action="" method="get">
    <fieldset id="General">
      <legend>General Settings:</legend>
      <label>
        Name:
        <input type="text" name="name" size="30" maxlength="50">
      </label><br />
      <label>
        Date of Birth:
        <input type="date" name="bday">
      </label><br />
      <label>
        Gender:
        <input type="radio" name="gender" value="female" />Female
        <input type="radio" name="gender" value="male" />Male
      </label>
      <br />
      <div class="submit">
        <input type="submit" value="Save">
      </div>
    </fieldset>
    <br />
  </form>

  <form action="" method="post">
    <fieldset>
      <legend>
        Passwords:
      </legend>
      <label>
        Username:
        <input type="text" name="username" required="required" />
      </label><br />
      <label>
        Password:
        <input type="password" name="password" required="required" />
      </label><br />
      <div class="submit">
        <input type="submit" value="Save">
      </div>
    </fieldset>
  </form>



</body>
</html>
